.astrology__body {
  background-color: #1c1c1c;
  color: white;

  .astrology__header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    .logo {
      justify-self: right;
    }
    .menu {
      margin-top: 13px;
      justify-self: left;
    }
    .astrology__title {
      font-size: 25px;
      font-family: "Khula", sans-serif;
    }
  }
  .astrology_zodiac {
    margin-left: 22px;
  }

  .astrology_scorpio {
    margin-left: 95px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  .astrology__data {
    text-align: center;
    padding: 2px;
    font-family: "Poppins", sans-serif;

    .astrology_date {
      color: #707070;
    }
  }
}
