.plantInfo__body {
  background-color: #1c1c1c;
  color: white;
  margin: 0px;
}
.plantInfo__body .plantInfo__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px;
}
.plantInfo__body .plantInfo__header .logo {
  justify-self: right;
  padding-left: 138px;
}
.plantInfo__body .plantInfo__header .menu {
  margin-top: 13px;
  justify-self: left;
}
.plantInfo__body .plant__info_light_water_temp {
  margin-top: 60px;
  margin-bottom: 75px;
  font-family: "Khula", sans-serif;
  margin-left: 8px;
}
.plantInfo__body .plant__api {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8px;
}
.plantInfo__body .plant__api .api__plantimg {
  width: 165px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 5px;
}
.plantInfo__body .plant__api .sun__info {
  display: flex;
  align-items: flex-start;
  font-family: "Khula", sans-serif;
}
.plantInfo__body .plant__api .sun__info .plant__info_sun {
  margin-top: 14px;
  margin-right: 20px;
}
.plantInfo__body .plant__api .water__info {
  display: flex;
  align-items: flex-start;
  font-family: "Khula", sans-serif;
}
.plantInfo__body .plant__api .water__info .plant__info_water {
  margin-top: 14px;
  margin-right: 20px;
  margin-left: 5px;
}
.plantInfo__body .plant__api .temp__info {
  display: flex;
  align-items: flex-start;
  font-family: "Khula", sans-serif;
}
.plantInfo__body .plant__api .temp__info .plant__info_temp {
  margin-top: 14px;
  margin-right: 20px;
  margin-left: 5px;
}
.plantInfo__body .api {
  text-align: center;
  padding-top: 60px;
}
.plantInfo__body .api__btn {
  display: block;
  margin: auto;
  margin-top: 45px;
}
.plantInfo__body .plant_reminder {
  margin-top: 55px;
  padding-top: 20px;
  margin-left: 15px;
  color: #1c1c1c;
  font-family: "Poppins", sans-serif;
}
.plantInfo__body .plant_getareminder {
  color: #1c1c1c;
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.plantInfo__body .plant__checklist {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
}
.plantInfo__body .plant_check {
  margin-top: 12px;
  margin-right: 12px;
}
.plantInfo__body .plant__cirkel {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
.plantInfo__body .plant__cirkel .plant_imghealth {
  margin-right: 18px;
}
.plantInfo__body .footer__background {
  background-color: #edeae5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.welcome_body {
  background-image: url(../../../img/background.png);
  color: white;
}

.title__welcome {
  text-align: center;
  margin-top: 120px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.plandary__welcomeTitle {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  font-family: "Khula", sans-serif;
}

.welcome_startandsignin {
  display: grid;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-top: 50px;
}
.welcome_startandsignin .welcome_start {
  border-radius: 14px;
  background-color: #3d7a5d;
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  height: 75px;
  width: 300px;
}
.welcome_startandsignin .welcome_signin {
  border-radius: 14px;
  background-color: #f1ece6;
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  height: 75px;
  width: 300px;
  font-family: "Poppins", sans-serif;
}

.welcome_start {
  color: white;
}

.forgot_password {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}

.applogo {
  width: 80px;
  margin-top: 140px;
}

.signin__body {
  background-image: url(../../../img/background.png);
  color: white;
}

.overskrift_signin {
  color: #ffffff;
  text-align: center;
  margin-top: 130px;
  font-family: "Khula", sans-serif;
  font-size: 35px;
}

.signin__input {
  margin-left: 50px;
  margin-top: 120px;
}
.signin__input .signin_email {
  border-radius: 14px;
  background-color: #3d7a5d;
  border-color: white;
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  height: 30px;
  font-family: "Poppins", sans-serif;
}
.signin__input .signin_password {
  border-radius: 14px;
  background-color: #3d7a5d;
  border-color: white;
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  height: 30px;
  font-family: "Poppins", sans-serif;
}

.signin_email::placeholder {
  color: white;
  font-size: 15px;
}

.signin_password::placeholder {
  color: white;
  font-size: 15px;
}

.signin_forgotpassword {
  color: white;
  font-size: 10px;
  text-align: center;
}

.signin {
  border-radius: 14px;
  display: block;
  margin: auto;
  background-color: #3d7a5d;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  color: white;
  height: 35px;
  margin-left: 146px;
  width: 87px;
  font-family: "Poppins", sans-serif;
}

.applogo {
  margin-top: 40px;
  display: block;
  margin: auto;
}

.astrology__body {
  background-color: #1c1c1c;
  color: white;
}
.astrology__body .astrology__header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.astrology__body .astrology__header .logo {
  justify-self: right;
  padding-left: 40px;
}
.astrology__body .astrology__header .menu {
  margin-top: 13px;
  justify-self: left;
}
.astrology__body .astrology__header .astrology__title {
  font-size: 23px;
  font-family: "Khula", sans-serif;
}
.astrology__body .astrology_zodiac {
  margin-left: 22px;
}
.astrology__body .astrology_scorpio {
  margin-left: 95px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
.astrology__body .astrology__data {
  text-align: center;
  padding: 2px;
  font-family: "Poppins", sans-serif;
}
.astrology__body .astrology__data .astrology_date {
  color: #707070;
}
.astrology__body .astrology_name {
  margin: 0;
}
.astrology__body .astrology_tekst {
  margin: 0;
}