.welcome_body {
  background-image: url(../../../img/background.png);
  color: white;
}

.title__welcome {
  text-align: center;
  margin-top: 120px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.plandary__welcomeTitle {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  font-family: "Khula", sans-serif;
}

.welcome_startandsignin {
  display: grid;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-top: 50px;

  .welcome_start {
    border-radius: 14px;
    background-color: #3d7a5d;
    font-size: 22px;
    padding: 5px;
    margin: 10px;
    height: 75px;
    width: 300px;
  }

  .welcome_signin {
    border-radius: 14px;
    background-color: #f1ece6;
    font-size: 22px;
    padding: 5px;
    margin: 10px;
    height: 75px;
    width: 300px;
    font-family: "Poppins", sans-serif;
  }
}

.welcome_start {
  color: white;
}

.forgot_password {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}

.applogo {
  width: 80px;
  margin-top: 140px;
}
