.plantInfo__body {
  background-color: #1c1c1c;
  color: white;
  margin: 0px;

  .plantInfo__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;

    .logo {
      justify-self: right;
    }
    .menu {
      margin-top: 13px;
      justify-self: left;
    }
  }
  .plant__info_light_water_temp {
    margin-top: 60px;
    margin-bottom: 75px;
    font-family: "Khula", sans-serif;
    margin-left: 8px;
  }
  .plant__api {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 8px;

    .api__plantimg {
      width: 165px;
      margin-top: 10px;
      margin-left: 30px;
      border-radius: 5px;
    }
    .sun__info {
      display: flex;
      align-items: flex-start;
      font-family: "Khula", sans-serif;

      .plant__info_sun {
        margin-top: 14px;
        margin-right: 20px;
      }
    }
    .water__info {
      display: flex;
      align-items: flex-start;
      font-family: "Khula", sans-serif;

      .plant__info_water {
        margin-top: 14px;
        margin-right: 20px;
        margin-left: 5px;
      }
    }
    .temp__info {
      display: flex;
      align-items: flex-start;
      font-family: "Khula", sans-serif;

      .plant__info_temp {
        margin-top: 14px;
        margin-right: 20px;
        margin-left: 5px;
      }
    }
  }

  .api {
    text-align: center;
    padding-top: 60px;
  }
  .api__btn {
    display: block;
    margin: auto;
    margin-top: 45px;
  }
  .plant_reminder {
    margin-top: 55px;
    padding-top: 20px;
    margin-left: 15px;
    color: #1c1c1c;
    font-family: "Poppins", sans-serif;
  }
  .plant_getareminder {
    color: #1c1c1c;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }

  .plant__checklist {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
  }

  .plant_check {
    margin-top: 12px;
    margin-right: 12px;
  }
  .plant__cirkel {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;

    .plant_imghealth {
      margin-right: 18px;
    }
  }
  .footer__background {
    background-color: #edeae5;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
