/* Remember to add new modules here:
    @forward 'module_name';
*/
.astrology__body {
  background-color: #1c1c1c;
  color: white;
}
.astrology__body .astrology__header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.astrology__body .astrology__header .logo {
  justify-self: right;
}
.astrology__body .astrology__header .menu {
  margin-top: 13px;
  justify-self: left;
}
.astrology__body .astrology__header .astrology__title {
  font-size: 25px;
}
.astrology__body .astrology_zodiac {
  margin-left: 22px;
}
.astrology__body .astrology_scorpio {
  margin-left: 95px;
  margin-top: 10px;
}
.astrology__body .astrology__data {
  text-align: center;
  padding: 2px;
}
.astrology__body .astrology__data .astrology_date {
  color: #707070;
}

.plantInfo__body {
  background-color: #1c1c1c;
  color: white;
}
.plantInfo__body .plantInfo__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.plantInfo__body .plantInfo__header .logo {
  justify-self: right;
}
.plantInfo__body .plantInfo__header .menu {
  margin-top: 13px;
  justify-self: left;
}
.plantInfo__body .plant__info_light_water_temp {
  margin-top: 60px;
}
.plantInfo__body .sun__info {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
}
.plantInfo__body .sun__info .plant__info_sun {
  margin-top: 14px;
  margin-right: 20px;
}
.plantInfo__body .water__info {
  display: flex;
  align-items: flex-start;
}
.plantInfo__body .water__info .plant__info_water {
  margin-top: 14px;
  margin-right: 20px;
  margin-left: 5px;
}
.plantInfo__body .temp__info {
  display: flex;
  align-items: flex-start;
}
.plantInfo__body .temp__info .plant__info_temp {
  margin-top: 14px;
  margin-right: 20px;
  margin-left: 5px;
}
.plantInfo__body .plant_reminder {
  margin-top: 130px;
}
.plantInfo__body .plant__checklist {
  display: flex;
  align-items: flex-start;
}
.plantInfo__body .plant_check {
  margin-top: 12px;
  margin-right: 12px;
}
.plantInfo__body .plant__cirkel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.plantInfo__body .plant__cirkel .plant_imghealth {
  margin-right: 18px;
}

.signin__body {
  background-image: url(../../../img/background.png);
  color: white;
}

.overskrift_signin {
  color: #ffffff;
  text-align: center;
  margin-top: 130px;
}

.signin__input {
  margin-left: 50px;
  margin-top: 120px;
}
.signin__input .signin_email {
  border-radius: 14px;
  background-color: #3d7a5d;
  border-color: white;
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  height: 30px;
}
.signin__input .signin_password {
  border-radius: 14px;
  background-color: #3d7a5d;
  border-color: white;
  font-size: 22px;
  padding: 5px;
  margin: 10px;
  height: 30px;
}

.signin_email::placeholder {
  color: white;
  font-size: 15px;
}

.signin_password::placeholder {
  color: white;
  font-size: 15px;
}

.signin_forgotpassword {
  color: white;
  font-size: 10px;
  text-align: center;
}

.signin {
  border-radius: 14px;
  background-color: #3d7a5d;
  font-size: 15px;
  padding: 5px;
  margin: 10px;
  color: white;
  height: 35px;
  margin-left: 146px;
}

.applogo {
  margin-top: 180px;
  display: block;
  margin: auto;
}

/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  padding: 0.5rem 2rem;
  color: #0e0e0e;
  text-decoration: none;
}

.menu__link:hover, .menu__link.--active {
  color: #ad1f1f;
  font-weight: bold;
  top: 0;
  left: 0;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  padding: 1rem 2rem;
  background-color: #ebebeb;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
}

.menu__item {
  display: block;
}

/* @use '../general' as *; this enables the usage of all variables and mixins from the general folder */